<!doctype html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<title>{% block title %}{% endblock %} note-o-matic</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

<nav>
	<div class="header">
		<img class="logo" src="{{ url_for('static', filename='images/final.png') }}">
	</div>
</nav>
<section class="section-content">
	<header>
	  {% block header %}{% endblock %}
	</header>
	<div class='content'>
		{% block content %}{% endblock %}
		<form action="{{ url_for('make_notes') }}" method="POST" id="changeme"> 
			<textarea id="textbox" rows="30" cols="30" placeholder="Add your notes here, and click the button below the textbox to start analysis."></textarea>
			<button type='submit' class='submit'>Submit!</button>
		</form>
	</div>
	<div class='footer'>
	</div>
	<script>

	</script>
</section>

