@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
	background: #4c1036;
	margin: 0 15% 5% 15%;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.7em;
}
p{
	color: #efefef;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.7em;
}
button{
	color: #efefef;
	background-color: #ff938c;
	border: none;
	border-radius: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	padding: 15px;
	text-align: center;
	text-shadow: 0 0 10px #000;
}

button:hover{
	background-color: #ff685e;
	transition: ease 0.5s;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.content {
	height: 50vh; 
}

#textbox { 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: top;
	width:100%;
	height: 400px;
}

img.logo {
	width: 30%;
	height: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#wrapper{
	text-align: center;
}
